{
    "PORTS": "{{ source_root }}/xgds_{{ xgds_sitename }}/apps/xgds_{{ xgds_sitename }}_app/ports.json",
    "LOG_DIR": "{{ source_root }}/xgds_{{ xgds_sitename }}/data/pyraptord",
    "LOG_FILE":"pyraptord_${unique}.txt",

    "SERVICES": {

        "EV1_recorder": {
            "command": " "
        },
        "EV2_recorder": {
            "command": " "
        },
        "SA_recorder": {
            "command": " "
        },

    },
    "GROUPS": {
        "startup": []
    }
}
